{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Essalud - GCTIC</title>
    <link rel="stylesheet" type="text/css" href="{% static 'diseno/css/estilos.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'diseno/css/estilos-responsive.css' %}">
    <script type="text/javascript" src="{% static 'diseno/js/funciones.js' %}"></script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script> </head>
<body>
    <section class="login">
        <div class="section-flex">
            <article class="w-40">
                </article>
            <article class="w-60">
                <div class="t-c">
                    <form name="login" class="cuadro-blanco-2" method="POST" action="{% url 'login' %}" novalidate>
                        {% csrf_token %}
                        <img src="{% static 'diseno/img/logo-essalud.svg' %}">
                        <label>Usuario</label>
                        <input type="text" id="email" name="email" type="text" class="input" value="" size="20" />
                        <label>Contraseñaa</label>
                        <input name="password" type="password" class="input" value="" size="20" id="password" />
                        <div class="g-recaptcha" data-sitekey="{% static 'captcha/sitekey.js' %}"></div> <button target="_parent" type="submit" class="estilo1">Iniciar</button>
                    </form>
                    </div>
            </article>
        </div>
    </section>
</body>
</html>
