{% load static %}
<!DOCTYPE html>
<html>
   <head>
      <title>Essalud -  Aula Virtual</title>
      <link rel="stylesheet" type="text/css" href="{% static 'diseno/css/estilos.css' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'diseno/css/estilos-responsive.css' %}">
      <script type="text/javascript" src="{% static 'diseno/js/funciones.js' %}"></script>
   </head>
   <body>
      <section class="login ">

      	<div  class="section-flex">
      		
      		<article class=" w-40" >
      			<div class="t-l descripcion">
      				
      				<h1 class="titulo1">Sistema de análisis de datos</h1>
      			 <p>
                  <br>
            “Sistema de análisis de datos eficiente y preciso, optimizando decisiones estratégicas con insights relevantes para el éxito empresarial.”</p>
      			</div>
      			 
      		</article>

      			<article class=" w-60">
      				<div class="t-c"> 
      				 <form name="login" class="cuadro-blanco-2 " method="POST" action="{% url 'login' %}"  novalidate>
                     {% csrf_token %}
            <img src="{% static 'diseno/img/logo-essalud.svg' %}">
             <label>Usuario</label>
            <input type="text" id="email" name="email" type="text"  class="input" value="" size="20" /> 
            <label>Contraseña</label>
            <input name="password" type="password" class="input" value="" size="20" id="password" />  
            <button target="_parent" type="submit"  class="estilo1">Iniciar</button>
         </form>
         <!-- <a href="#">¿Olvidaste tu nombre de usuario o contraseña?</a> -->
      				</div>
      		</article>
      	</div>
        
      </section>
   </body>
</html>