{% extends 'index_second.html' %}

{% block title %}
Aporte de asegurados titulares
{% endblock %}

{% block content %}

<script type="text/javascript"> 
  document.onkeydown = function(){return false};
</script>  

<iframe src="https://app.powerbi.com/view?r=eyJrIjoiYmIwNzc2OWMtY2Y3OC00MGZhLTlmYzEtNjhjYzVlYTVlNGE2IiwidCI6IjM0ZjMyNDE5LTFjMDUtNDc1Ni04OTZlLTQ1ZDYzMzcyNjU5YiIsImMiOjR9&pageName=ReportSection" width="100%" style="margin: 0 !important; height: 100vh;"></iframe>


   

{% endblock %}