{% extends 'index_second.html' %}

{% block title %}
Certificado de Incapacidad Laboral para el trabajo
{% endblock %}

{% block content %}

<script type="text/javascript"> 
  document.onkeydown = function(){return false};
</script>  

<iframe src="https://app.powerbi.com/view?r=eyJrIjoiOTQ1NDcxOGEtYWRkZi00NDlmLWEwOGUtMzc2ZjRhNjc5OWE4IiwidCI6IjM0ZjMyNDE5LTFjMDUtNDc1Ni04OTZlLTQ1ZDYzMzcyNjU5YiIsImMiOjR9&pageName=ReportSection71be2929b781db5437c2" width="100%" style="margin: 0 !important; height: 100vh;"></iframe>


   

{% endblock %}