{% extends 'index_second.html' %}

{% block title %}
Población asegurada a EsSalud
{% endblock %}

{% block content %}

<script type="text/javascript"> 
  document.onkeydown = function(){return false};
</script>  

<iframe src="https://app.powerbi.com/view?r=eyJrIjoiMzE1OWZjOTMtOGU5MS00MWMxLWJiZjEtODBkOTNkYzcxMWYzIiwidCI6IjM0ZjMyNDE5LTFjMDUtNDc1Ni04OTZlLTQ1ZDYzMzcyNjU5YiIsImMiOjR9&pageName=ReportSection4fb34b6be02b8742483b" width="100%" style="margin: 0 !important; height: 100vh;"></iframe>


   

{% endblock %}