{% extends 'index_second.html' %}

{% block title %}
Seguro complementario de trabajo de riesgo
{% endblock %}

{% block content %}

<script type="text/javascript"> 
  document.onkeydown = function(){return false};
</script>  

<iframe src="https://app.powerbi.com/view?r=eyJrIjoiZGI1MTUyNzEtYzI0NS00ZjI3LWEyNWUtZDQ2YTJkNTQxYWVjIiwidCI6IjM0ZjMyNDE5LTFjMDUtNDc1Ni04OTZlLTQ1ZDYzMzcyNjU5YiIsImMiOjR9&pageName=ReportSection" width="100%" style="margin: 0 !important; height: 100vh;"></iframe>


   

{% endblock %}