{% extends 'index_second.html' %}

{% block title %}
Subsidios procesados en EsSalud
{% endblock %}

{% block content %}

<script type="text/javascript"> 
  document.onkeydown = function(){return false};
</script>  

<iframe src="https://app.powerbi.com/view?r=eyJrIjoiOTY2MTY2NDUtZWI2MS00MmI2LWI1MjMtNWYyZmYzNmFlYjMyIiwidCI6IjM0ZjMyNDE5LTFjMDUtNDc1Ni04OTZlLTQ1ZDYzMzcyNjU5YiIsImMiOjR9&pageName=ReportSection" width="100%" style="margin: 0 !important; height: 100vh;"></iframe>


   

{% endblock %}