{% extends 'index_second.html' %}

{% block title %}
  Emergencia
{% endblock %}

{% block content %}

     <iframe src="https://app.powerbi.com/view?r=eyJrIjoiZjcwZmRjMTQtODFmNC00ZWIxLWFiZmUtNmMxYjcxZDVkN2JkIiwidCI6IjM0ZjMyNDE5LTFjMDUtNDc1Ni04OTZlLTQ1ZDYzMzcyNjU5YiIsImMiOjR9" width="100%" style="margin: 0 !important; height: 100vh;"></iframe>

     <!-- https://app.powerbi.com/view?r=eyJrIjoiZjcwZmRjMTQtODFmNC00ZWIxLWFiZmUtNmMxYjcxZDVkN2JkIiwidCI6IjM0ZjMyNDE5LTFjMDUtNDc1Ni04OTZlLTQ1ZDYzMzcyNjU5YiIsImMiOjR9 -->
     
{% endblock %}